div{
    background-color: white;
    border-radius: 5px;
    position: relative;
}
.on-strike{
    color: green;
    font-size: 19px;
}
body{
    background-color: #d7d7d7;
    font-family: sans-serif;
    /*padding-left: 15%;*/
    /*padding-right: 15%;*/
    min-width: 500px;
}
.div-right{
    /*  media-query*/
    width: 60%;
    height: 117px;
    right: 0;
    /*bottom: 5px;*/
    position: absolute;
}
.div-left{
    /*display: flex;*/
    flex-direction: column;
    width: 30%;
    left: 0;
    /*bottom: 5px;*/
    position: absolute;
}
.div-default{
    background-color: #d7d7d7;
    font-family: sans-serif;
}
.left-pad{
    padding-left: 10px;
}
.runs{
    color: black;
    background-color: #dddddd;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-color: green;
}
.topnav {
    background-color: #04AA6D;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.title{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 3%;
    margin-top: 1%;
}
.content-center{
    display: flex;
    justify-content: center;
    align-content: center;
}
.element-center{
    /*display: block;*/
    margin-right: auto;
    margin-left: auto;
}
.input{
    width: 200px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
h3{
    padding-top: 1%;
    text-align: center;
    color: #04AA6D
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
}
.submit-form{
    color: #f2f2f2;
    height: 40px;
    width: 100px;
    background-color: #04AA6D;
    display: block;
}
.teamNameIco{
    border: 0px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 100%;
    color: white;
}
td {
    width: 10%;
}
.table-100{
    padding-left: 8%;
    width: 100%;
    /*padding: 10px;*/
}
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal div{
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.modal div div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.flex-row{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}