.temp{
    border-radius: 5px;
}
.pad-20{
    padding: 20px;
}
.color-orange{
    background-color: orange;
    color: white;
}
.color-red{
    background-color: red;
    color: white;
}
.color-green{
    background-color: green;
    color: white;
}
.color-light-green{
    background-color: darkgreen;
    color: white;
}
.row-gap{
    display: flex;
    column-gap: 10px;
}
.text-color-green{
    color: forestgreen;
}
.text-color-black{
    color: black;
}
.font-40{
    font-size: 40px;
}
.font-20{
    font-size: 20px;
}
.col-gap{
    display: inline-flex;
    column-gap: 5px;
}
.span-far-right{
    font-size: 20px;
    right: 0;
    position: absolute;
    padding-right: 30px
}
.side-pad{
    padding-left: 10px;
    padding-right: 10px;
}
.tb-pad{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tableName{
    width: 50%;
    text-align: left;
}
th {
    border-bottom: 1px solid;
    padding-top: 15px;
    padding-bottom: 10px;
}

td{
    padding-bottom: 10px;
    padding-top: 10px;
}

table{
    width: 100%;
    text-align: left;
}
.make-round{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.btn{
    background-color: forestgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.content-center{
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 10%;
}
.row-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}