div{
    background-color: white;
    border-radius: 5px;
}
body{
    background-color: #d7d7d7;
}
.topnav {
    background-color: #04AA6D;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.title{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 3%;
    margin-top: 10%;
}
.content-center{
    display: flex;
    justify-content: center;
    align-content: center;
}
.element-center{
    /*display: block;*/
    margin-right: auto;
    margin-left: auto;
}
.input{
    width: 200px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
h3{
    padding-top: 1%;
    text-align: center;
    color: #04AA6D
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
}
.submit-form{
    color: #f2f2f2;
    height: 40px;
    width: 100px;
    background-color: #04AA6D;
    display: block;
}