div{
    background-color: white;
    border-radius: 5px;
}
body{
    background-color: #d7d7d7;
}
.topnav {
    background-color: #04AA6D;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.title{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 3%;
    margin-top: 10%;
}
.content-center{
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 5%;
}
.element-center{
    display: block;
    margin-right: auto;
    margin-left: auto;
}